<div class="container col-sm-12 col-md-8 col-lg-7 col-xl-7 px-5 px-sm-0 hakari">
  <div class="row">
    <h1 class="ml-5 mt-5 mb-3 kanrimidasi">管理者ログイン</h1>
  </div>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!--メールアドレスのフィールド-->
    <div class="row mb-3 ml-lg-4">
      <%= f.label :メールアドレス, class: "col-lg-4 col-xl-4 col-form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-7  col-xl-7" %>
    </div>

    <!--パスワードのフィールド-->
    <div class="row mb-3 ml-lg-4">
      <%= f.label :パスワード, class: "col-lg-4 col-xl-4 col-form-label" %>
      <%= f.password_field :password, autocomplete: "current_password", class: "col-lg-7 col-xl-7" %>
    </div>

    <!--ログインボタン-->
    <div class="col-lg-4 col-xl-4 mx-3">
      <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
  </div>
</div>