<div class="container">
  <div class="text-center mt-3">
    <h1 class="col-md-2 mx-auto midasi d-inline">絵画一覧</h1>
    <p class="mx-auto submidasi d-inline">
      （全<%= @pictures.count %>件）
    </p>
  </div>

  <!--画像部分の繰り返し処理-->
  <div class="d-flex flex-wrap items_width">
    <% @pictures.each do |picture| %>
      <div oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;", class="mx-3 my-3 text-center">
        <!--ポップアップ機能-->
        <%= link_to picture.get_picture_image(1500, 1200), "data-lightbox": picture.get_picture_image(200,140) do %>
          <%= image_tag picture.get_picture_image(200, 140), class: "doyon" %><br>
        <% end %>

        <%= picture.name %>
      </div>
    <% end %>
  </div>

  <!--ページネーション-->
  <div class="row justify-content-center my-4">
    <%= paginate @pictures %>
  </div>

</div>